* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: linear-gradient(#2C8C2B, #66A966 50%, #66A966 60%, #174517);
}

header, footer {
    height: 100px;
    background-color: green;
    color: #FFFFFF;
    display: grid;
    align-items: center;
    justify-items: center;
    place-items: center;
    padding: 0 20px;
}

main {  
    flex-grow: 1;
    display: grid;
    place-items: center;
}

.background-logo {
    position: absolute;
    width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    filter: brightness(0.50) opacity(0.98);
}

.content-text {
    position: absolute;
    color: #ffffff;
    font-size: 2.5rem;
    width: 240px;
    transform: translateX(-100%);
    text-align: end;
}

.content-image {
    height: 70vh;
}


header {
    height: 100px;
    display: flex;
    align-items: center;
    gap: 24px;
    color: #FFFFFF;
    padding-left: 75px;
    justify-content: flex-start;
}

header span {
    font-weight: 600;
}


footer {
    height: 100px;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    justify-items: space-between    ;
    align-items: center;
    padding-right: 75px;
    padding-left: 75px;
    color: #FFFFFF;
    font-weight: 100;
}

footer div {
    width: 64px;
}

@media (max-width: 768px) {
    header {
        padding-left: 25px;
    }

    .content-text {
        transform: translateX(0%);
        top: 80px;
        font-size: 1rem;
        width: 100px;
        text-align: center;
    }

    .content-image {
        height: 70vh;
    }

    footer {
        padding: 0px 25px;
    }
}
